body {
    margin: 5px 20px;
}

header {
    text-align: center;
    background-color: gold;
}

button {
    margin: 10px 5px;
}

p {
    width: 70%;
    margin-left: 15%;
}

.settings-instructions {
    text-align: center;
}

#settings-and-signout-buttons {
    float: right;
}

#authentication {
    text-align: center;
    width: 100%;
    /* margin-bottom: 10px; */
}

#authentication p {
    font-style: italic;
}

.login-background h3 {
    padding-top: 10px;
}

.login-background {
    background-color: palevioletred;
}

.login-input {
    text-align: left;
    margin: 0 5px 0 5px;
}

#application {
    display: none;
}

#table-wrapper {
    position: relative;
    max-width: 30ch;
    left: 50%;
    margin-left: -12.5%;
}

#table-update-buttons {
    width: 100%;
    text-align: center;
}

.input-form {
    background-color: lightskyblue;
    padding: 10px 0;
}

label {
    width: 13ch;
    text-align: right;
    font-weight: bold;
    padding: 0 5px;
}

.label-notes {
    text-align: left;
}

.editing-id {
    text-align: left;
}

input {
    display: inline;
    text-align: right;
}

.interval-name {
    text-align: left;
    width: 12ch;
}

.interval-odometer {
    width: 10ch;
}

.interval-interval {
    width: 8ch;
}

.text-align-left {
    text-align: left;
}

.text-align-right {
    text-align: right;
}

.text-align-center {
    text-align: center;
}

.input-entry {
    width: 10ch;
    margin: 5px;
}

#input-date {
    padding-right: 15px;
}

#input-notes {
    width: 94%;
    margin-left: 3%;
}

#editing-id {
    display: none;
    text-align: center;
    color: red;
    font-weight: bold;
}

#editing-display {
    width: 100%;
    display: none;
    text-align: center;
    /* margin: 5px; */
}

#editing-display button {
    margin: 10px 0 0 0;
}

#add-entry-display {
    width: 100%;
    text-align: center;
}

#add-entry {
    display: inline;
    text-align: center;
    margin: 0 auto;
}

#vehicle-settings {
    width: 100%;
}

#vehicle-settings-name {
    position: relative;
    left: 50%;
    margin-left: -7.5ch;
    width: 15ch;
    text-align: center;
    font-size: x-large;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
}

#vehicle-data {
    display: inline;
    /* width: 100%; */
}

#vehicle-data-wrapper {
    font-style: italic;
    text-align: center;
    margin: 10px 0;
    background-color: lightgreen;
}

#interval-notices {
    font-weight: bold;
    color: red;
}

hr {
    margin: 5px;
    border-top: 1px solid black;
    /* padding: 0; */
}

.line-item {
    border: 1px solid black;
    background-color: aliceblue;
    padding: 5px;
}

.line-item-element {
    display: inline;
}

.date {
    display: inline-block;
    text-align: center;
    width: 100px;
    background-color: darkslategray;
    color: white;
}

#btn-edit {
    float: right;
    text-align: center;
    width: 50px;
    background-color: red;
    color: white;
}

.notes {
    width: 98%;
    margin: 0 auto;
    border: 1px dashed black;
}

#copyright {
    position: fixed;
    bottom: 0;
    padding: 10px;
    right: 10px;
    color: white;
}

.copyright-link {
    color: white;
}

#bottom-bar {
    width: 100%;
    height: 4ch;
    text-align: left;
    position: fixed;
    bottom: 0;
    padding-left: 10px;
    left: 0;
    color: white;
    background-color: darkslategray;
}

.which-vehicle-radio-button {
    margin: 10px 5px 10px 20px;
}

@-ms-viewport {
    width: device-width;
}

@media only screen and (max-width: 900px) {
    h3 {
        font-size: x-large;
        margin: 5px 0 0 0;
    }
    p {
        width: 100%;
        margin-left: 0;
    }
    button {
        padding: 5px;
    }
    #settings-and-signout-buttons {
        float: none;
        text-align: center;
        /* height: 30px; */
        margin: 0;
        padding: 0;
    }
    #btn-vehicle-settings, #sign-out {
        margin: 0 10px 0 10px;
        padding: 0;
    }
    #add-entry {
        margin: 0;
    }
    #copyright {
        right: 0;
        padding: 0;
        left: 50%;
        margin-left: -50%;
        font-size: x-small;
    }
    label {
        margin: 5px 0px 0px 0px;
    }
    #vehicle-data {
        display: inline-block;
        width: 100%;
        font-size: small;
    }
    #table-wrapper {
        left: 0;
        margin-left: 0;
    }
    #vehicle-settings-name {
        font-size: large;
        margin-bottom: 5px;
    }
    #bottom-bar {
        height: 4.5ch;
        font-size: small;
        text-align: center;
        padding-left: 0px;
    }
    .which-vehicle-radio-button {
        margin: 5px 5px 0 5px;
    }
}

@media only screen and (max-width: 800px) {
    /*really small margins for better layout on mobile in portrait*/
}

@media screen and (max-width: 767px) {}

@media only screen and (max-width: 600px) {
    /*really small margins for better layout on mobile in portrait*/
}